@page
@model MyBudget.WebUI.Pages.IncomeSource.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="warning-msg">
    This will permantly delete the record from the database. To maintain history, edit the record and update it to be inactive.
</div>
<div>
    <h4>IncomeSources</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeSources.IncomeSourceAcro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncomeSources.IncomeSourceAcro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeSources.IncomeSourceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncomeSources.IncomeSourceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeSources.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncomeSources.Active)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="IncomeSources.IncomeSourcePk" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
