@page
@model MyBudget.WebUI.Pages.Income.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Income[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income[0].ReceivedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income[0].FamilyMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income[0].IncomeSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income[0].Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income[0].Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Income) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyMember.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeSource.IncomeSourceAcro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month.MonthAbbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year.YearPk)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IncomePk">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.IncomePk">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
