@page
@model MyBudget.WebUI.Pages.Property.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Properties</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Properties.PropertyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Properties.PropertyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Properties.PropertyAddress1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Properties.PropertyAddress1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Properties.PropertyAddress2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Properties.PropertyAddress2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Properties.PropertyCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Properties.PropertyCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Properties.PropertyState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Properties.PropertyState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Properties.PropertyZip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Properties.PropertyZip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Properties.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Properties.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Properties.PropertyPk">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
