@page
@model MyBudget.WebUI.Pages.Expenses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expenses</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenses.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenses.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenses.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenses.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenses.ExpenseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenses.ExpenseType.ExpenseType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenses.Month)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenses.Month.MonthAbbr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenses.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenses.Year.YearPk)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Expenses.ExpensePk">Edit</a> |
    <a asp-page="./Index" asp-route-month=@Model.Expenses.MonthId asp-route-year=@Model.Expenses.YearId>Back to List</a>
</div>
