@page
@model MyBudget.WebUI.Pages.Expenses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].ExpenseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Expenses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseType.ExpenseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month.MonthAbbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year.YearPk)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ExpensePk">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ExpensePk">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ExpensePk">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
