@page
@model MyBudget.WebUI.Pages.Tuition.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="warning-msg">
    This will permantly delete the record from the database. To maintain history, edit the record and update it to be inactive.
</div>
<div>
    <h4>Tuition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tuition.TuitionAlias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tuition.TuitionAlias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tuition.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tuition.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tuition.FamilyMember)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tuition.FamilyMember.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tuition.Institution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tuition.Institution.InstitutionName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tuition.TuitionPk" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
