@page
@model MyBudget.WebUI.Pages.Tuition.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tuition[0].TuitionAlias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tuition[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tuition[0].FamilyMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tuition[0].Institution)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tuition) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TuitionAlias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyMember.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institution.InstitutionName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TuitionPk">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TuitionPk">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TuitionPk">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
